body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #16181c;
    color: white;
    line-height: 1.4;
    margin: 0;
}
header{
    padding: 20px 0px;
    background-color: #1f1f1f;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.navigator{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.logospan{
    color: #ff4500;
}
.navigator_links a{
    color: #fff;
    margin-left: 20px;
    font-size: 17px;
    text-decoration: none;
    transition: 0.3s;
}
.navigator_links a:hover {
color: #ff4500;
}
.manset{
    background-color: #2c2c2c;
    padding: 60px 20px;
    text-align: center;
    margin: 30px auto;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(megabonk-developer-withdraws-game-from-the-game-awards-sayin_54v4.jpg);
    background-size: cover;
    background-position: center;
}
.manset_header{
    font-size: 48px;
    margin-bottom: 15px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    font-weight: bold;
}
.manset_intr{
    font-size: 18px;
    margin-bottom: 25px;
    color: #ddd;
}
.buton{
    display: inline-block;
    background-color: #ff4500;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}
.buton:hover{
    background-color: #e03e00;
}
.section_title{
    border-left: 5px solid #ff4500;
    padding-left: 15px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 900;
}
.blog_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin-bottom: 50px;
}
.review_card {
    display: flex;
    background-color: #1f1f1f;
    border-color: #333;
    overflow: hidden;
    width: 100%;
    margin-bottom: 50px;
}
.review_card_image {
    width: 40%; 
    object-fit: cover; 
    min-height: 250px; 
}
.review_card_content {
    flex: 1;
    padding: 25px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}
.review_card_content .buton {
    align-self: flex-end; 
    margin-top: 15px; 
}
.review_card_title {
    margin: 0;
    font-size: 24px;
    color: white;
}
.review_card_intd{
    color: #aaa;
    font-size: 1rem;
    flex-grow: 1;
    margin-top: 10px;
}
.footer {
    background-color: #000;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    border-top: 1px solid #333;
    color: #666;
    font-size: 14px;
    margin-top: 50px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; 
    position: absolute;
    background-color: #1a1a1a; 
    min-width: 160px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1;
    border-radius: 5px;
    padding: 5px 0;
}

.dropdown-content a{
    color: #fff; 
    padding: 12px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 0.9em; 
    transition: 0.3s;
}

.dropdown-content a:hover {
    background-color: #ff9800; 
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navigator_links .dropdown .dropbtn {
    text-decoration: none;
}